<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/bootstrap.css" />
  <link rel="stylesheet" href="./assets/style/all.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  <link rel="icon" href="./assets/images/favicon.ico">
  

</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- >>search-bar -->
      <div class="input-group w-auto ms-0">
        <input type="text" class="form-control form_outline fw-light" placeholder="全站搜索" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-primary rounded-circle" type="button" id="search-addon"><i class="fas fa-search"></i></button>
      </div>

      <!-- >>Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img src="./assets/images/logo.jpg" height="100px" alt="logo" />
      </a>

      <!-- >>elements -->
      <div class="d-flex align-items-center me-0">
        <!-- Avatar -->
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="AvatarDropdownMenuLink"
          role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="rounded-circle"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="AvatarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Logout</a>
          </li>
        </ul>

        

        <!-- kart -->
        <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
          data-mdb-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  
  <!-- Navbar -->

  <!-- mega-menu start -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav justify-content-around w-100">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> 本月優惠 </a>
            <div class="dropdown-menu dropdown_large show" data-bs-popper="none">
              <div class="row g-3">
                <div class="col-6">
                  <h6 class="title">子項目分類</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">本月優惠 </a></li>
                    <li><a href="#">本月優惠 </a></li>
                    <li><a href="#">本月優惠 </a></li>
                    <li><a href="#">本月優惠 </a></li>
                    <li><a href="#">本月優惠 </a></li>
                  </ul>
                </div><!-- end col-3 -->
                <div class="col-6">
                  <h6 class="title">子項目分類</h6>
                  <ul class="list-unstyled">
                    <li><a href="#">本月優惠 </a></li>
                    <li><a href="#">本月優惠 </a></li>
                    <li><a href="#">本月優惠 </a></li>
                    <li><a href="#">本月優惠 </a></li>
                    <li><a href="#">本月優惠 </a></li>
                  </ul>
                </div><!-- end col-3 -->
              </div><!-- end row -->
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="try.html"> 本月優惠 </a></li>
          <li class="nav-item"><a class="nav-link" href="#"> 本月優惠 </a></li>
          <li class="nav-item"><a class="nav-link" href="#"> 本月優惠 </a></li>
          <li class="nav-item"><a class="nav-link" href="#"> 本月優惠 </a></li>
          <li class="nav-item"><a class="nav-link" href="#"> 本月優惠 </a></li>
          <li class="nav-item"><a class="nav-link" href="#"> 本月優惠 </a></li>
          <li class="nav-item"><a class="nav-link" href="#"> 本月優惠 </a></li>
          <li class="nav-item"><a class="nav-link" href="#"> 本月優惠 </a></li>
        </ul>
      </div> <!-- navbar-collapse.// -->
    </div> <!-- container-fluid.// -->
  </nav>
  <!-- mega-menu end -->
  <%- contents %>

    <footer class="container py-5 px-0 ">
      <div class="row">
        <div class="col-12 col-md-2">
          <div class="footer_header">
            關於我們
          </div>
          <ul class="list-unstyled">
            <li><a href="#">品牌故事</a></li>
            <li><a href="#">商店簡介</a></li>
            <li><a href="#">隱私權條款</a></li>
          </ul>

        </div>
        <div class="col-12 col-md-2">
          <div class="footer_header">
            購物說明
          </div>
          <ul class="list-unstyled">
            <li><a href="#">付款方式</a></li>
            <li><a href="#">運送方式</a></li>
            <li><a href="#">退換貨方式</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-2">
          <div class="footer_header">
            客服資訊
          </div>
          <ul class="list-unstyled">
            <li><a href="#">客服留言</a></li>
            <li><a href="#">常見問題</a></li>
            <li><a href="#">會員權益聲明</a></li>
            <li><a href="#">聯絡我們</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <div class="footer_header">
            訂閱我們的電子報
          </div>
          <div class="form-row col-10 p-0">
            <label for="inputEmail4"></label>
            <input type="email" class="form-control form_outline" id="inputEmail4" placeholder="name@name.com">
            <button type="button" name="button" class="btn btn-link text-dark btn-input">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-chevron-right">
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </button>
          </div>
          <div class="form-row">
            <button type="button" name="button" class="btn text-dark px-0 mr-3">
              <img src="./assets/images/social-icon-line.png" width="auto" height="24px" alt="homepage" class="">
            </button>
            <button type="button" name="button" class="btn text-dark px-0 mr-3">
              <img src="./assets/images/social-icon-facebook.png" width="auto" height="24px" alt="homepage" class="">
            </button>
            <button type="button" name="button" class="btn text-dark px-0 mr-3">
              <img src="./assets/images/social-icon-instagram.png" width="auto" height="24px" alt="homepage" class="">
            </button>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="footer_header">
            官方購物APP
          </div>
          <button type="button" name="button" class="btn btn-outline-dark text-dark">
            <div class="button_block">
              <img src="./assets/images/social-icon-apple.png" width="auto" height="24px" alt="homepage" class="">
            </div>
          </button>
          <button type="button" name="button" class="btn btn-outline-dark text-dark">
            <div class="button_block">
              <img src="./assets/images/social-icon-google.png" width="auto" height="22px" alt="homepage" class="">
            </div>
          </button>
        </div>

      </div>

    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
</body>

</html>